.alert {
    display: none;
}

.red-star {
    color: red;
    font-size: 120%;
}

#header {
    text-align: center;
    height: 50px;
}

#response-box {
    font-size: 110%;
    display: none;
    height: 80px;
    max-width: 700px;
    background-color: #E6E6E6;
    margin: auto; 
    border-radius: 10px;
    border: 2px solid #b2dba1;
}

#response-box p {
    text-align: center;
    font-family: 'Verdana' sans-serif;
    margin: 20px;
    line-height: 40px;
}

#card-holder-name,
#card-cvv,
#card-number,
#card-amount {
    width: 300px ;
}

legend {
    text-align: center;
}

#button-send {
    width: 12em;  height: 3em;
    color: black;
    text-decoration: true;
    text-align: center;
    font-weight: bold;
    font-size:100%;
    margin-left:50px;
}